<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro</h1>
    <label for="Nome">Nome Completo</label>
    <input type="nome" placeholder="Digite seu nome completo"/>
    <label for="Username">Username</label>
    <input type="username" placeholder="Digite seu username"/>
    <label for="E-mail">E-mail</label>
    <input type="e-mail" placeholder="Digite seu e-mail"/>
    <label for="Password">Senha</label>
    <input type="password" placeholder="Digite sua senha"/>
    <br>
    <a href="login.html">Já tem uma conta? Faça login!</a>
    <input type="submit" value="Acessar" class="btn" />

     <script src="{{ url_for('static', filename='verifica_usuario.js') }}"></script>

</body>
</html>