{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Editar Publicadora: {{ pub.nome_Publicadora }}</h1>
</div>

<form action="{{ url_for('editar_publicadora', cod=pub.cod_Publicadora) }}" method="POST">
    <div class="mb-3">
        <label for="nome_publicadora" class="form-label">Nome da Publicadora</label>
        <input type="text" class="form-control" id="nome_publicadora" name="nome_publicadora" value="{{ pub.nome_Publicadora }}" required>
    </div>
    <div class="mb-3">
        <label for="pais_publicadora" class="form-label">País de Origem</label>
        <input type="text" class="form-control" id="pais_publicadora" name="pais_publicadora" value="{{ pub.pais_Publicadora or '' }}">
    </div>
    
    <button type="submit" class="btn btn-primary">Atualizar</button>
    <a href="{{ url_for('publicadoras') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}