<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" type="text/css" href="../static/menu.css">
</head>
<body>

    <div class="menu-lateral">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="publicadoras.html">Publicadoras</a></li>
            <li><a href="jogos.html">Jogos</a></li>
            <li><a href="dashboard.html">Dashboard</a></li>
        </ul>
    </div>

    <div class="menu-superior">

    </div>

</body>
</html>