<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" type="text/css" href="../static/menu.css">
</head>
<body>

    <div class="menu-lateral">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Teste1</a></li>
            <li><a href="#">Teste2</a></li>
            <li><a href="#">Teste3</a></li>
        </ul>
    </div>

    <div class="menu-superior">

    </div>

</body>
</html>